# Created by venv; see https://docs.python.org/3/library/venv.html
*.pyc
__pycache__/
db.sqlite3
media/encrypted_files/
.DS_Store
.vscode/
.idea/
.env
.venv/
pip-selfcheck.json
.venv/
# PyCharm
.idea/

# VS Code
.vscode/
.DS_Store
*.log
thumbs.db