# =========================
# Python
# =========================
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp

# =========================
# Django
# =========================
db.sqlite3
/media/
*.log

# =========================
# Environment / Virtualenv
# =========================
.env
.venv/
venv/
pip-selfcheck.json

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest / Coverage
# =========================
.coverage
htmlcov/
*.cover
*.py,cover
.cache/
nosetests.xml
coverage.xml
